.Nosotros .jumbotron {
    background-color: #f1f1f1;
    
}

.Nosotros hr {
    background-color: #DE2286;
}

.Nosotros p{
font-size: x-large;
padding: 5px;

}
.Nosotros .conteiner{

    margin-top: 15px;
}